/*
 * CSS styleshet for the "Denim" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 *
 */

@import "default-without-mediaelement.css";
@import "mediaelement-dark.css";
@import "dark-theme.css";

/* The primary background colour. */
.bgcolor1, table.music tr:nth-of-type(even) {
    background-color: #456993;
}

/* The secondary background colour, light blue, primary theme colour. */
.bgcolor2, .ruleTableHeader, .log, table.music tr:nth-of-type(odd) {
    background-color: #456993;
    color: #EFE9D9;
}

/* Background colour for selected header, log etc. */
.headerSelected {
    color: #EFE9D9;
    background-color: #456993;
    border: 1px solid #EFE9D9;
}

/* The secondary foreground colour used for h1, details etc. */
h1, .detail, .albumComment {
    color: #EFE9D9;
}

/* Foreground colour used for h2, bold and tr. */
h2, b, tr {
    color: #EFE9D9;
}

/* regular foreground color */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #EFE9D9;
}

/* a:link color */
.dataTables_wrapper .dataTables_paginate .paginate_button, button.dt-button, div.dt-button, a.dt-button {
    color: #B6BEC2 !important;
}

/* a:hover color + .border1 border-color */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    color: #B6BEC2 !important;
}

/* regular color + .border1 border-color */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #EFE9D9 !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #527CAD;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #7497BE;
}

table.dataTable.hover tbody>tr.selected:hover, table.dataTable.hover tbody>tr>.selected:hover, table.dataTable.display tbody>tr.selected:hover, table.dataTable.display tbody>tr>.selected:hover {
    background-color: #6389B6;
}

table.music.dataTable tbody tr.currently-playing {
    background-color: #395779;
}

table.music.dataTable tbody tr.currently-playing:hover {
    background-color: #314B68;
}

/* Table sizing */
table {
    margin: 0 0 0 0;
}

/* Main frame image & colour */
.mainframe {
    background-color: #456993;
    background-position:right;
}

/* Back image */
.back {
    background-image:url( "../icons/denim/back.png" );
}

/* Link colour */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #B6BEC2;
}

/* Link hover colour */
a:hover, a:hover * {
    color: #B6BEC2;
}

/* Colour for warning messages. */
.warning {
    color: #990099;
}

/* The primary foreground colour. */
body {
    color: #EFE9D9;
    background-color: #DDDDDD;
}

html {
    background-color: transparent;
}

label, p {
	color: #CCC;
}
