/*
 * CSS styleshet for the Minutes to Midnight theme as seen in Dark Reader
 *
 */
 
@import "default-without-mediaelement.css";
@import "mediaelement-dark.css";
@import "dark-theme.css";

/* The primary background color. */
.bgcolor1, table.music tr:nth-of-type(even) {
    background-color: rgb(61, 65, 68);
}

/* The secondary background color. */
.bgcolor2, .ruleTableHeader, .log, table.music tr:nth-of-type(odd) {
    background-color: rgb(62, 66, 68);
}

/* The primary foreground color. */
body {
    color: rgb(224, 222, 218);
}

/* The secondary foreground color used for h1, details etc. */
h1, .detail, .albumComment {
    color: rgb(224, 222, 218);
}

/* Foreground color used for h2, bold and tr. */
h2, b, tr {
    color: rgb(224, 222, 218);
}

/* .disabled color */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: rgb(186, 181, 171) !important;
}

/* regular foreground color */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: rgb(224, 222, 218);
}

/* a:link color */
.dataTables_wrapper .dataTables_paginate .paginate_button, button.dt-button, div.dt-button, a.dt-button {
    color: rgb(186, 218, 242) !important;
}

/* a:hover color + .border1 border-color */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    color: rgb(255, 183, 51) !important;
    border-color: rgb(51, 51, 51);
}

/* regular color + .border1 border-color */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: rgb(224, 222, 218) !important;
    border-color: rgb(51, 51, 51);
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: rgb(73, 78, 80);
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: rgb(72, 77, 81);
}

table.dataTable.hover tbody>tr.selected:hover, table.dataTable.hover tbody>tr>.selected:hover, table.dataTable.display tbody>tr.selected:hover, table.dataTable.display tbody>tr>.selected:hover {
    background-color: rgb(85, 91, 94);
}

table.music.dataTable tbody tr.currently-playing {
    background-color: rgb(48, 51, 54);
}

table.music.dataTable tbody tr.currently-playing:hover {
    background-color: #54595f;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: rgb(186, 218, 242);
}

/* Link hover color */
a:hover, a:hover * {
    color: rgb(255, 183, 51);
}

/* Simple border. */
.border1, .ruleTableHeader, .ruleTableCell, .log {
    border: 1px solid rgb(51, 51, 51);
}
