/*
 * CSS styleshet for the "2 Minutes To Midnight" theme.
 *
 * Author: Sindre Mehus
 */

@import "default-without-mediaelement.css";
@import "mediaelement-dark.css";
@import "dark-theme.css";

/* The primary background color. */
.bgcolor1, table.music tr:nth-of-type(even) {
    background-color: #656569;
}

/* The secondary background color. */
.bgcolor2, .ruleTableHeader, .log, table.music tr:nth-of-type(odd) {
    background-color: #4D4C52
}

/* The primary foreground color. */
body {
    color: #DDDDDD;
}

/* The secondary foreground color used for h1, details etc. */
h1, .detail, .albumComment {
    color: #DDDDDD;
}

/* Foreground color used for h2, bold and tr. */
h2, b, tr {
    color: #DDDDDD;
}

/* regular foreground color */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #DDDDDD;
}

/* a:link color */
.dataTables_wrapper .dataTables_paginate .paginate_button, button.dt-button, div.dt-button, a.dt-button {
    color: #BAD9F2 !important;
}

/* a:hover color + .border1 border-color */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    color: orange !important;
}

/* regular color + .border1 border-color */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #DDDDDD !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #444448;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #7c7a85;
}

table.dataTable.hover tbody>tr.selected:hover, table.dataTable.hover tbody>tr>.selected:hover, table.dataTable.display tbody>tr.selected:hover, table.dataTable.display tbody>tr>.selected:hover {
    background-color: #5A5A5F;
}

table.music.dataTable tbody tr.currently-playing {
    background-color: #3e3d42;
}

table.music.dataTable tbody tr.currently-playing:hover {
    background-color: #323135;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #BAD9F2
}

/* Link hover color */
a:hover, a:hover * {
    color: orange;
}

/* Scrollbar colors (supported on IE and Opera) */
body {
    scrollbar-face-color: #4D4C52;
    scrollbar-highlight-color: #656569;
    scrollbar-shadow-color: #4D4C52;
    scrollbar-3dlight-color: #4D4C52;
    scrollbar-arrow-color: #656569;
    scrollbar-track-color: #656569;
    scrollbar-darkshadow-color: #656569;
}

.back {
    background-image:url("../icons/default_dark/back.png");
}
