name: 'Edge Deploy CI (Maven)'

on:
  push:
    branches: [ master ]

env:
  DEFAULT_MUSIC_FOLDER: /tmp/music
  EXCLUDED_TEST_GROUPS:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: "github.repository == 'airsonic-advanced/airsonic-advanced' && startsWith(github.event.head_commit.message, 'Merge pull request ')"
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - run: mkdir -p ${DEFAULT_MUSIC_FOLDER}
      - name: Build with Maven
        run: mvn -DexcludedGroups=${EXCLUDED_TEST_GROUPS} -Ddocker.testing.default-music-folder=${DEFAULT_MUSIC_FOLDER} verify -B -P integration-test
      - name: Calculate tags
        if: success()
        id: tagcalc
        run: |
          # Create tag
          ver=$(grep "version=" airsonic-main/target/generated/build-metadata/build.properties | cut -d"=" -f2);
          ts=$(grep "timestamp=" airsonic-main/target/generated/build-metadata/build.properties | cut -d"=" -f2);
          # Note this doesn't completely follow semver because docker tags do not take a + sign
          tag=$ver\.$ts;
          echo $tag;
          echo "::set-output name=tag::$tag"
      - name: Deploy to GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tagcalc.outputs.tag }}
          name: Edge Release ${{ steps.tagcalc.outputs.tag }}
          draft: false
          prerelease: true
          files: |
            airsonic-main/target/airsonic.war
            airsonic-main/target/artifacts-checksums.sha
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push multiplatform images to Dockerhub
        uses: docker/build-push-action@v2
        with:
          file: install/docker/Dockerfile
          context: install/docker
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            airsonicadvanced/airsonic-advanced:latest
            airsonicadvanced/airsonic-advanced:edge-latest
            airsonicadvanced/airsonic-advanced:edge-${{ steps.tagcalc.outputs.tag }}
            airsonicadvanced/airsonic-advanced:gitcommit-${{ github.sha }}
            airsonicadvanced/airsonic-advanced:gitrun-${{ github.run_id }} 
            ghcr.io/airsonic-advanced/airsonic-advanced:latest
            ghcr.io/airsonic-advanced/airsonic-advanced:edge-latest
            ghcr.io/airsonic-advanced/airsonic-advanced:edge-${{ steps.tagcalc.outputs.tag }}
            ghcr.io/airsonic-advanced/airsonic-advanced:gitcommit-${{ github.sha }}
            ghcr.io/airsonic-advanced/airsonic-advanced:gitrun-${{ github.run_id }}
